{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

   <div class="auth-container">
    <section class="blog-header">
        <h1 id="title"></h1>
        <b>Written by✍️: <span id="author"></span></b>
    </section>
    </div>
    <hr>
    <form id="blog-content">
    <p readonly id="body" class="blog-content"></p>
    </form>
    <script  type="module" src="{{ url_for('static', path='js/sep_blog.js') }}"></script>
    <script  type="module" src="{{ url_for('static', path='js/index.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock %}

{% block scripts %}
{% endblock %}