
{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <main>
        <div class="email-ver-container">
            <form id="reset_pass_form" method="post">
            <h2>Reset Password</h2>
            <input type="email" id="email" name="email" placeholder="Email" required><br><br>
            <button type="submit" id="login_button">Send Verification Code</button>
            </form>
        </div>
    </main>
<script type="module" src="{{ url_for('static', path='js/email_ver.js') }}"></script>

{% endblock %}

{% block scripts %}
{% endblock %}
