{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<section class="hero">
    <h2>Welcome to Lumora</h2>

    <p>
Ideas begin as quiet thoughts, waiting to be noticed.
With courage, they become words.
Words become stories, and stories become memories.
Every page carries a different voice and perspective.
Read slowly. Write freely. Explore freely.
Discover the thoughts and experiences of others.
Or leave behind a piece of your own.<br>
**Welcome to Lumora, where every idea has a chance to shine.**

    </p>
    <br>

    <div class="hero-nav">
        <button class="nav_button" id="read_blogs">Read Blogs</button>

        <button id="write_blog" class="nav_button">Write Blog</button>
    </div>

    <br>
</section>




<h1>Latest Blogs</h1>

<div class="Search_container">
    <input type="text"
    id="search_bar"
    placeholder="Search">
    <button id="search_button">Search</button>
</div>

<section id="blog_section" class="blog-posts">

</section>

<button id="load_more"
class="nav_button">

Load More

</button>



<script type="module"  src="{{ url_for('static', path='js/blog.js') }}"></script>
<script type="module"  src="{{ url_for('static', path='js/index.js') }}"></script>
<script type="module"  src="{{ url_for('static', path='js/home.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


{% endblock %}

{% block scripts %}
{% endblock %}
