<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Account</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>
<body>
    <div class="verify-body">
    <h1>Verify Your Account</h1>

    <p>Enter the 6-digit verification code sent to your email.</p>

    <form class="verify_form" id="verifyForm">

        <input
            type="text"
            id="code"
            maxlength="6"
            placeholder="Verification Code"
            required
        >

        <button type="submit">Verify</button>
        <button type="button" id="resendBtn">Resend Code</button>

    </form>

    <p id="message"></p>
    </div>
    <script type="module" src="{{ url_for('static', path='js/verify_user.js') }}"></script>
    
</body>
</html>